# Fichiers sensibles
.env
*.env
serviceAccountKey.json
firebase-key.json

# Node.js
node_modules/
package-lock.json
npm-debug.log

# Python
venv/
__pycache__/
*.pyc
*.pyo

# Fichiers volumineux
*.csv
*.pkl
*.h5

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log

# Build
build/
dist/